.cart-box{
    position: absolute;
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .cart-items{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

.cart-button{
margin: auto ;

}
.empty-message{
    font-size: 18px;
    margin: auto;
    text-align: center;
}
}

