.checkout-box {
  width: 60%;
  height: 60vh;
  margin: auto;

  .checkout-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
  }

  .checkout-title {
    width: 23%;
    &:last-child {
      width: 8%;
    }
  }
  .checkout {
    height: 50vh;
    overflow-y: scroll;
    .checkout-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px auto;

      .checkout-img {
        height: 80px;
        width: 50px;
        object-fit: cover;
      }

      .checkout-item {
        width: 23%;

        &:last-child {
          width: 8%;
        }

      
      .arrow{
          display: inline-flex;
          margin: 0 10px;
      }
      }
    }
  }
  .checkout-total{
    float: right;
    font-size: 35px;
  }
}
.cursor-pointer{
  cursor: pointer;
}